@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Iceland|Rajdhani');

/*Base Styles*/

*	{
	box-sizing: border-box;
}

body	{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: sans-serif;
	font-size: .85em;
}

a	{
	color: #06a6cc;
	text-decoration: none;
	font-weight: 600;
}

a:hover	{
	text-decoration: underline;
}

h1	{
	font-size: 2rem;
	color: #aec6cf;
	text-align: center;
}

h2	{
	font-size: 1,5rem;
	text-align: center;
}

h3	{
	font-size: 1.17rem;
}

h1,h2,h3	{
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	font-family: 'iceland', sans-serif;
}

p	{
	margin: 0 auto;
	padding: 20px 10px 20px 25px;
	width: 100%;
	max-width: 700px;
}

p.sub-text	{
	padding: 20px 10px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-family: 'Amatic SC';
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 1px;
	word-spacing: 2px;
}

ul	{
	margin: 0 auto;
}


/*HEADER*/

header	{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	display: flex;
	flex-direction: column;
}


/*MAIN**********/

main	{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.tech-r,
.interview,
.digital-d	{
	margin: 30px auto 0 auto;
}


/*CRITIQUE*/

.critique	{
	position: relative;
	margin: 0 auto;
	padding: 0;
	
}

.critique h3	{
	font-size: 1rem;
}

.critique img	{
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	padding: 0;
	display: block;
}



/*APPLICATION VIDEO*/

.interview video	{
	background: #000;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 10px;
	display: block;
}




/*TECHNICAL REQUIRMENTS**************/

/*STORYBOARD*/

.storyboard	{
	position: relative;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	/*list-style: none;
	padding: 0;*/
	/*display: flex;
	flex-wrap: wrap;
	justify-content: space-around;*/
}

.storyboard li	{
	padding: 0;
	margin: 15px;
}

img.frame	{
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 300px;
	display: block;
}


/*ORIGINAL ART*/

.originalart	{
	padding: 0;
	margin: 0 auto;
	width: 100%;
	position: relative;
	text-align: center;
}

img.art	{
	width: 100%;
	max-width: 350px;
	display: inline-block;
	border: 2px solid #000;
}



/*FOOTER*/

.copyright	{
	text-align: center;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
}


/*CLEARFIX*/

.clearfix::after	{
	content: "";
	display: table;
	clear: both;
}

/*MEDIA QUERIES*/

@media (min-width: 600px)	{
	header	{
		flex-direction: row;
		justify-content: space-between;
	}
	
	h1	{
		text-align: left;
	}
	
	h3	{
		max-width: 700px;
	}
	
	p.sub-text	{
		text-align: right;
	}
	
	/*MAIN*/
	
	.tech-r	{
		max-width: 900px;
	}
	
	/*CRITIQUE*/
	
	.critique img	{
		float: right;
		clear: both;
		padding: 20px;
		margin: 0; 
	}
	
	
	/*ORIGINAL ART*/
	
	img.art	{
		margin: 15px;
	}
}















